.dub
docs.json
__dummy.html
docs/
templatemetaprogrammingexample.so
templatemetaprogrammingexample.dylib
templatemetaprogrammingexample.dll
templatemetaprogrammingexample.a
templatemetaprogrammingexample.lib
templatemetaprogrammingexample-test-*
*.exe
*.o
*.obj
*.lst
